@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply text-white bg-black;
  height: 100%;
  margin: 0;
}

body {
  color: rgb(255,255,255);
  background-color: rgb(0,0,0);
}
/* Aplica color celeste al borde de la navbar */
.navbar-custom {
  @apply text-cyan-400 bg-black; 
  border-bottom: 2px solid #00bcd4;/* Agrega borde celeste */
}

/* Opcionalmente, puedes definir otros estilos personalizados para los enlaces */
.navbar-custom a {
  @apply text-cyan-400 no-underline;
}

.navbar-custom a:hover {
  @apply text-cyan-300;
}
/* Estilos para el menú de pantallas pequeñas */
.navbar-menu-custom {
  @apply bg-black border-b-2 border-cyan-400; /* Fondo negro y borde inferior celeste */
}

.navbar-menu-item-custom {
  @apply text-cyan-400; /* Letras celestes */
}

.navbar-menu-item-custom:hover {
  @apply text-cyan-300; /* Letras celestes al pasar el ratón */
}

.navbar-menu-item-logout {
  @apply text-red-400; /* Letras rojas para logout */
}
.dropdown-menu-custom {
  @apply bg-black border-b-2 border-cyan-400 !important;
}

.dropdown-item-custom {
  @apply text-cyan-400 !important;
}

.dropdown-item-custom:hover {
  @apply text-cyan-300 !important; /* Cambia el color de fondo en hover si es necesario */
}

.dropdown-item-logout {
  @apply text-red-400;
}